*.exe
*.pyc
.DS_Store
*.bak
.project
.idea
bin/cacheserver
bin/client
bin/gateway
bin/localposter
bin/monitorserver
bin/parselog
bin/poster
bin/router
bin/*.txt
redisconf/*.log
redisconf/*/*.log
redisconf/*/*.rdb
redisconf/*/*.pid
python/*.txt
